<div class="banner" id="banner">
  <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner banner-slider-inner text-center">
      <div class="carousel-item banner-max-height active item-bg">
        <img class="d-block w-100 h-100 desk-img" src="./assets/img/car/3008gt.jpg" alt="banner">
        <img class=" w-100 h-100 mobile-img" src="./assets/img/mobile/3008gt1.jpg">
        <div class="carousel-content container banner-info-2 bi-2">
          <h1>Centre'Auto'Ccas</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
          <a href="#" class="btn btn-lg btn-round btn-theme">Read More</a>
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img class="d-block w-100 h-100 desk-img" src="/assets/img/car/3008gt2.jpg" alt="banner">
        <img class=" w-100 h-100 mobile-img" src="./assets/img/mobile/3008gt22.jpg">
        <div class="carousel-content container banner-info-2 bi-2">
          <h1>Centre'Auto'Ccas</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
          <a href="#" class="btn btn-lg btn-round btn-theme">Read More</a>
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img class="d-block w-100 h-100 desk-img" src="./assets/img/car/mercedes.jpg" alt="banner">
        <img class=" w-100 h-100 mobile-img" src="./assets/img/mobile/mercedes2.jpg">
        <div class="carousel-content container banner-info-2 bi-2">
          <h1>Centre'Auto'Ccas</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
          <a href="#" class="btn btn-lg btn-round btn-theme">Read More</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev none-580" href="#bannerCarousole" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
    </a>
    <a class="carousel-control-next none-580" href="#bannerCarousole" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
    </a>
  </div>
</div>

