

<!-- Contact section start -->
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Form content box start -->
        <div class="form-content-box">
          <!-- details -->
          <div class="details">
            <!-- Logo -->
            <a href="index.html">
              <img src="/assets/img/logos/logo11.png" class="cm-logo" alt="black-logo">
            </a>
            <!-- Name -->
            <h3>Sign into your account</h3>
            <!-- Form start -->
            <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  [(ngModel)]="formUser.username"
                  required
                  #username="ngModel"
                />
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && username.invalid"
                >
                  Username is required!
                </div>

              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  [(ngModel)]="formUser.password"
                  required
                  minlength="6"
                  #password="ngModel"
                >
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && password.invalid"
                >
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="checkbox">
                <div class="ez-checkbox pull-left">
                  <label>
                    <input type="checkbox" class="ez-hide">
                    Remember me
                  </label>
                </div>
                <a href="forgot-password.html" class="link-not-important pull-right">Forgot Password</a>
                <div class="clearfix"></div>
              </div>
              <div class="form-group mb-0">
                <button class="btn-md button-theme btn-block">login</button>
              </div>

              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>

            </form>

            <div class="alert alert-success" *ngIf="isLoggedIn">
              Logged in as {{ roles }}.
            </div>
            <!-- Social List -->

            <!-- Footer -->
            <div class="footer">
              <span>Don't have an account? <a routerLink="/register">Register here</a></span>
            </div>
          </div>
          <!-- Form content box end -->
        </div>
      </div>
    </div>
  </div>
  <!-- Contact section end -->
</div>
