<div class="search-box-3">
  <div class="container">
    <div class="search-area-inner">
      <div class="search-contents">
        <form [formGroup]="carForm" (ngSubmit)="onSubmitSearchCars()">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group" >
                <select class="form-control" name="brand" formControlName="brand"
                        (change)="handleBrandChange($event.target.valueOf())"
               >
                  <option selected>Select Brand</option>
                  <option *ngFor="let b of brands" [value]=" b.id "> {{ b.brandName }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <select class="form-control" name="model" formControlName="model" disabled>
                  <option value='...' selected>...</option>
                  <option *ngFor="let m of models" [value]=" m.id ">{{ m.modelName }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <select class="form-control" name="fuel" formControlName="fuel" >
                  <option>Select Energy</option>
                  <option *ngFor="let f of fuels" [value]=" f.id ">{{ f.type }}</option>

                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <button class="btn btn-block button-theme btn-md btn btn-danger">
                  <i class="fa fa-search"></i>Find
                </button>
              </div>
            </div>

          </div>
          <!--
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>
            </div>

          </div>
          -->
        </form>
      </div>
    </div>
  </div>
</div>

