
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" style="color:#B8000B" class="navbar-brand">Admin Board</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a routerLink="/garages" class="nav-link">Garage</a>
      </li>

      <li class="nav-item">
        <a routerLink="/ads" class="nav-link">Ad</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" style="color:#B8000B" class="nav-link" routerLink="/profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>
