<app-header></app-header>

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container breadcrumb-area">
    <div class="breadcrumb-areas">
      <h1>Car List</h1>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li class="active">Car List</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
  <div class="container">
    <!-- Option bar start -->
    <div class="option-bar clearfix">
      <div class="sorting-options2">
        <span class="sort">Sort by:</span>
        <select class="selectpicker search-fields" name="default-order">
          <option>Default Order</option>
          <option>Price High to Low</option>
          <option>Price: Low to High</option>
          <option>Newest Properties</option>
          <option>Oldest Properties</option>
        </select>
      </div>
      <div class="sorting-options float-right">
        <a routerLink="/car" class="change-view-btn"><i class="fa fa-th-list"></i></a>
        <a routerLink="/cargrid" class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="car-box-3" *ngFor="let ad of ads | paginate: {
        itemsPerPage: 6, currentPage: page,
        totalItems: totalLength
        }" value="{{ ad.id }}">
          <div class="car-thumbnail">
            <a href="#" [routerLink]="['/car/', ad.id, 'view']" class="car-img">
              <div class="price-box-2">{{ ad.price }}</div>
              <img src="{{ad.feature}}" alt="car" class="img-fluid">
            </a>
            <div class="carbox-overlap-wrapper" [routerLink]="['/car/', ad.id, 'view']">
              <div class="overlap-box">
              </div>
            </div>
          </div>
          <div class="detail">
            <h1 class="title">
              <a href="#" [routerLink]="['/car/', ad.id, 'view']"> {{ ad.title }} </a>
            </h1>
            <div class="location">
              <a href="car-details.html">
                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
              </a>
            </div>
            <ul class="facilities-list clearfix">
              <li>
                <i class="flaticon-way"></i> {{ ad.mileage }}
              </li>
              <li>
                <i class="flaticon-manual-transmission"></i> Manual
              </li>
              <li>
                <i class="flaticon-calendar-1"></i> {{ ad.age }}
              </li>

              <li>
                <i class="flaticon-car"></i> Sport
              </li>
              <li>
                <i class="flaticon-gear"></i> Blue
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="car-box-3" *ngFor="let ad of ads | paginate: {
        itemsPerPage: 6, currentPage: page,
        totalItems: totalLength
        }" value="{{ ad.id }}">
          <div class="car-thumbnail">
            <a href="#" [routerLink]="['/car/', ad.id, 'view']" class="car-img">
              <div class="price-box-2">{{ ad.price }}</div>
              <img src="{{ad.feature}}" alt="car" class="img-fluid">
            </a>
            <div class="carbox-overlap-wrapper">
              <div class="overlap-box">
              </div>
            </div>
          </div>
          <div class="detail">
            <h1 class="title">
              <a href="#" [routerLink]="['/car/', ad.id, 'view']"> {{ ad.title }} </a>
            </h1>
            <div class="location">
              <a href="car-details.html">
                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
              </a>
            </div>
            <ul class="facilities-list clearfix">
              <li>
                <i class="flaticon-way"></i> {{ ad.mileage }}
              </li>
              <li>
                <i class="flaticon-manual-transmission"></i> Manual
              </li>
              <li>
                <i class="flaticon-calendar-1"></i> {{ ad.age }}
              </li>

              <li>
                <i class="flaticon-car"></i> Sport
              </li>
              <li>
                <i class="flaticon-gear"></i> Blue
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="car-box-3" *ngFor="let ad of ads | paginate: {
        itemsPerPage: 6, currentPage: page,
        totalItems: totalLength
        }" value="{{ ad.id }}">
          <div class="car-thumbnail">
            <a href="#" [routerLink]="['/car/', ad.id, 'view']" class="car-img">
              <div class="price-box-2">{{ ad.price }}</div>
              <img src="{{ad.feature}}" alt="car" class="img-fluid">
            </a>
            <div class="carbox-overlap-wrapper">
              <div class="overlap-box">
              </div>
            </div>
          </div>
          <div class="detail">
            <h1 class="title">
              <a href="#" [routerLink]="['/car/', ad.id, 'view']"> {{ ad.title }} </a>
            </h1>
            <div class="location">
              <a href="car-details.html">
                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
              </a>
            </div>
            <ul class="facilities-list clearfix">
              <li>
                <i class="flaticon-way"></i> {{ ad.mileage }}
              </li>
              <li>
                <i class="flaticon-manual-transmission"></i> Manual
              </li>
              <li>
                <i class="flaticon-calendar-1"></i> {{ ad.age }}
              </li>

              <li>
                <i class="flaticon-car"></i> Sport
              </li>
              <li>
                <i class="flaticon-gear"></i> Blue
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>



    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>

  </div>
</div>


<app-footer></app-footer>
