<app-admin-view></app-admin-view>

<div class="featured-car content-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- Option bar start -->
        <div class="option-bar clearfix">
          <div class="sorting-options2">
            <span class="sort">Sort by:</span>
            <select class="selectpicker search-fields" name="default-order">
              <option>Default Order</option>
              <option>Price High to Low</option>
              <option>Price: Low to High</option>
              <option>Newest Properties</option>
              <option>Oldest Properties</option>
            </select>
          </div>
          <div class="sorting-options float-right">
            <a href="car-list-fullWidth.html" class="change-view-btn active-view-btn float-right"><i class="fa fa-th-list"></i></a>
            <a href="car-grid-fullWidth.html" class="change-view-btn float-right"><i class="fa fa-th-large"></i></a>
          </div>
        </div>
        <!-- Car box 2 start -->
        <div class="car-box-2" *ngFor="let ad of ads" value="{{ ad.id }}">
          <div class="row" >
            <div class="col-lg-4 col-md-5 col-pad">
              <div class="car-thumbnail">
                <a href="car-details.html" class="car-img">
                  <img src="http://placehold.it/300x210" alt="car" class="img-fluid">
                  <div class="price-box"> {{ ad.price }}</div>
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-md-7 col-pad align-self-center">
              <div class="detail">
                <h3 class="title">
                  <a href="car-details.html" > {{ ad.title }} </a>
                </h3>
                <h5 class="location">
                  <a href="car-details.html">
                    <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                  </a>
                </h5>
                <ul class="facilities-list clearfix">
                  <li>
                    <i class="flaticon-way"></i> {{ ad.mileage }}
                  </li>
                  <li>
                    <i class="flaticon-manual-transmission"></i> Manual
                  </li>
                  <li>
                    <i class="flaticon-calendar-1" ></i> {{ ad.age }}
                  </li>
                  <li>
                    <i class="flaticon-car"></i> Sport
                  </li>
                  <li>
                    <i class="flaticon-gear"></i> Blue
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
