<app-header></app-header>

<!-- Sub banner start -->
<div class="sub-banner">
  <div class="container breadcrumb-area">
    <div class="breadcrumb-areas">
      <h1>About Us</h1>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub Banner end -->


<!-- About car start -->
<div class="about-car  content-area-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <div class="about-slider-box simple-slider">
          <img class="d-block w-100" src="https://img-4.linternaute.com/MC4itqLzUMl-Iqz-DhzQVTCj6fY=/1240x/smart/f5d490ea619d4664aa5749a115501c81/ccmcms-linternaute/22785233.jpg" alt="about">
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="about-text">
          <h3>Welcome to <span>Centre Auto</span></h3>
          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
          <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About car end -->

<!-- Advantages 3 start -->
<div class="advantages-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-self-center">
        <!-- Main title -->
        <div class="main-title">
          <h1>Our Advantages</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
          <a href="#" class="btn border-thn contact-btn">Contact us</a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="media advantages-box-3">
              <div class="icon">
                <i class="flaticon-shield"></i>
              </div>
              <div class="detail media-body align-self-center">
                <h5>Highly  Secured</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="media advantages-box-3">
              <div class="icon">
                <i class="flaticon-deal"></i>
              </div>
              <div class="detail media-body align-self-center">
                <h5>Trusted Agents</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="media advantages-box-3 ab-mb">
              <div class="icon">
                <i class="flaticon-money"></i>
              </div>
              <div class="detail media-body align-self-center">
                <h5>Get an Offer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="media advantages-box-3 ab-mb">
              <div class="icon">
                <i class="flaticon-support-2"></i>
              </div>
              <div class="detail media-body align-self-center">
                <h5>Free Support</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Advantages 3 end -->

<!-- Our team start -->
<!-- Our team start -->
<div class="our-team content-area">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>Our Agent</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="team-3">
          <div class="photo">
            <a href="#">
              <img src="/assets/img/test4.png" alt="agent" class="img-fluid">
            </a>
            <div class="social-list clearfix">
              <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
            </div>
          </div>
          <div class="details">
            <h5><a href="agent-detail.html">Loïc Biakou</a></h5>
            <h6>Web developper</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="team-3">
          <div class="photo">
            <a href="#">
              <img src="/assets/img/test5.png" alt="agent" class="img-fluid">
            </a>
            <div class="social-list clearfix">
              <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
            </div>
          </div>
          <div class="details">
            <h5><a href="agent-detail.html">Joseph Yakassongo</a></h5>
            <h6>Web Developer</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="team-3">
          <div class="photo">
            <a href="#">
              <img src="/assets/img/test6.png" alt="agent" class="img-fluid">
            </a>
            <div class="social-list clearfix">
              <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
            </div>
          </div>
          <div class="details">
            <h5><a href="agent-detail.html">Iddy Soihily</a></h5>
            <h6>Creative Director</h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="team-3">
          <div class="photo">
            <a href="#">
              <img src="/assets/img/test7.png" alt="agent" class="img-fluid">
            </a>
            <div class="social-list clearfix">
              <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
            </div>
          </div>
          <div class="details">
            <h5><a href="agent-detail.html">Varte Tsina</a></h5>
            <h6>Manager</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our team end -->



<div class="counters">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="counter-box">
          <i class="flaticon-car"></i>
          <h1 class="counter">967</h1>
          <h5>Total Cars</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="counter-box">
          <i class="flaticon-blog"></i>
          <h1 class="counter">1276</h1>
          <h5>Dealer Reviews</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="counter-box">
          <i class="flaticon-user"></i>
          <h1 class="counter">396</h1>
          <h5>Happy Clients</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="counter-box">
          <i class="flaticon-medal"></i>
          <h1 class="counter">177</h1>
          <h5>Awards</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Counters end -->

<div class="testimonial content-area-5">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>Our Testimonial</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
    <!-- Slick slider area start -->
    <div class="slick-slider-area">
      <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
        <div class="slick-slide-item">
          <div class="testimonial-inner">
            <div class="text-box">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.But also</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>( 4 Reviews )</span>
              </div>
            </div>
            <div class="user">
              <div class="photo">
                <img class="media-object" src="./assets/img/car/profil.png" alt="user">
              </div>
              <div class="detail">
                <h5>Maikel Alisa</h5>
                <p>Web Designer, New York</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide-item">
          <div class="testimonial-inner">
            <div class="text-box">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.But also</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>( 4 Reviews )</span>
              </div>
            </div>

            <div class="user">
              <div class="photo">
                <img class="media-object" src="./assets/img/car/profil.png" alt="user">
              </div>
              <div class="detail">
                <h5>Maikel Alisa</h5>
                <p>Creative Director, New York</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide-item">
          <div class="testimonial-inner">
            <div class="text-box">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.But also</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>( 4 Reviews )</span>
              </div>
            </div>
            <div class="user">
              <div class="photo">
                <img class="media-object" src="./assets/img/car/profil.png" alt="user">
              </div>
              <div class="detail">
                <h5>Auro Navanth</h5>
                <p>Office Manager, New York</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial end -->

<app-footer></app-footer>
